section.solution {
  .benefits {
    padding-bottom: 50px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    h3 {
      text-align: center;
      margin-top: 69px;

      @media(min-width: $medium) {
        margin-top: 90px;
      }

    }

    .benefit {
      margin-bottom: 26px;
      text-align: center;

      h4 {
        font-family: Regular;
        color: #fff;
        font-size: 21px;
        font-weight: 500;
        margin-top: 10px;
        line-height: 0.9;
        letter-spacing: 0;
        text-align: center;
        color: #ffffff;
        margin-bottom: 14px;
      }

      p {
        text-align: center;
        color: #c2d0e4;
        line-height: 1.19;
        letter-spacing: 0;
        font-size: 16px;
      }
    }
  }
}
