section.benefits {
  padding: 50px 0px;
  background-color: #F6FBFF;
  background-image: url("status_quo_bg.png");
  background-size: cover;

  h2 {
    color: var(--h2-secondary-color);
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    color: var(--paragraph-secondary-color);
    opacity: var(--paragraph-secondary-opacity);
  }

  .benefit {
    margin-bottom: 26px;
    text-align: center;

    img {
      height: 110px;
    }

    h4 {
      font-family: 'din-2014';
      font-size: 21px;
      line-height: 0.9;
      letter-spacing: 0;
      text-align: center;
      color: #4a677c;
      margin-top: 10px;
      margin-bottom: 14px;
    }

    p {
      font-family: DIN2014;
      font-size: 17px;
      line-height: 1.35;
      letter-spacing: 0;
      text-align: center;
      color: #658093;
    }
  }
}
