@import '_fonts';

section.intro {
  color: $primary-color;
  font-family: "Avenir Next";
  background-image: radial-gradient(circle at 50% 21%, rgba(91, 159, 255, 0.26), rgba(83, 136, 248, 0.2) 26%, rgba(0, 0, 0, 0.0)), radial-gradient(circle at 47% 25%, #1f5395, #12558c 98%);

  h1 {
    font-size: 32px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    color: #DDE9F3;
  }

  img {
    width: 100%;
  }

  .navbar {
    padding: 0;
    height: 39px;

    .navbar-brand {
      margin-top: 15px;
      margin-left: 0px;
      height: 29px;
    }

    .logo {
      width:97px;
    }
  }

  .intro-copy {
    margin-top: 49px;
    font-family: AvenirNext;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;
  }

}
