@import '_fonts';

section.intro {
  color: $primary-color;
  font-family: "Avenir Next";
  position: relative;
  height: 70%;

  &:after {
    content: '';
    background-image: url("planet2.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @media(min-width: $medium) {
      background-image: url("planet_tablet@2x.png");
      top:0;
      background-size: 90%;
      background-position: center 100px;
    }
  }
  &:before {
    content: '';
    background-image: url("intro_bg.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: -2;
    top: 0;

    @media(min-width: $medium) {
      background-image: url("intro_bg_tablet@2x.png");
    }
  }

  button,
  h1,
  h2,
  p {
    -webkit-font-smoothing: antialiased;
  }

  .intro-copy {
    padding-top: 90px;
    font-family: 'Avenir Next';
    font-size: 32px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;

    p {
      margin-top: 13px;
      font-family: 'Avenir Next';
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      text-align: left;
      color: #dde9f3;

      @media(min-width: $medium) {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
