section.marketplace {
  padding: 65px 0;
  background-color: #1D4398;
  position: relative;
  overflow: hidden;

  @media(min-width: $medium) {
    background: none;
    padding: 70px 0 30px;

    .marketplace-container {
      width: 50%;
    }
  }
  @media(min-width: $large) {
    padding: 120px 0 60px;

    .marketplace-container {
      width: 55%;
    }
  }

  .container {
    @media(min-width: $large) {
      display: flex;
      justify-content: flex-end;
    }


    @media(min-width: $xlarge) {
      max-width: 1000px;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 0.04px;
    line-height: 35px;
    @media(max-width: $iphone5) {
      font-size: 26px;
    }

    img {
      height: 58px;
    }
  }

  /*p {
    @media(min-width: $medium) {
      text-align: center;
      margin-bottom: 60px;
    }
  }
*/
  .marketplace-phone {
    margin-top: 40px;
    background-image: image-url("marketplace_phone@2x.png");
    min-height: 500px;
    background-size: 107%;
    background-position: -40px top;
    background-repeat: no-repeat;

    @media(min-width: $medium) {
      position: absolute;
      width: 70%;
      right: -100px;
      top: 45px;
      margin-top: 0px;
      background-size: 100%;
      background-position: 0 0;
      min-height: 600px;
    }

    @media(min-width: $large) {
      left: 70px;
      width: 40%;
      margin-top: 150px;
      min-height: 800px;
    }
  }

  .benefits-list {
    margin-top: -100px;

    @media(min-width: $medium) {
      margin-top: 56px;
      width: 70%;
    }

    @media(min-width: $large) {
      width: 55%;
      margin-top: 48px;
    }
  }

  .benefit {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;

    @media(min-width: $medium) {

    }

    .circle-container {
      margin-bottom: 7px;
      height: 82px;
      width: 89px;
      border-radius: 3px;
      box-shadow: 2px 3px 19px 0 rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;

      &.bg-feature-1 {
        background-image: linear-gradient(-179deg, #FCDF8A 0%, #F38381 100%);

        img {
          width: 58%;
        }
      }

      &.bg-feature-2 {
        background-image: linear-gradient(-172deg, #B392FF 0%, #6B0FBE 100%);

        img {
          width: 70%;
        }
      }

      &.bg-feature-3 {
        background-image: linear-gradient(-180deg, #F5515F 0%, #C71A34 100%);

        img {
          width: 68%;
        }
      }

      &.bg-feature-4 {
        background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);

        img {
          width: 58%;
        }
      }

      img {
        width: 65%;
      }
      @media(min-width: $medium) {
        align-items: center;
        flex: 0 0 80px;
        height: 80px;
      }
      @media(min-width: $large) {
        align-items: center;
        flex: 0 0 95px;
        height: 95px;
      }
    }

    .benefit-copy {
      @media(min-width: $medium) {
        margin-left: 0px;
      }
    }

    h4 {
      font-family: Poppins;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.47px;
      line-height: 24px;
      margin-top: 10px;
      margin-bottom: 8px;
      @media(min-width: $medium) {
        text-align: left;
      }
      @media(min-width: $large) {
        line-height: 1.33;
        letter-spacing: 0.5px;
      }
    }

    p {
      font-size: 16px;
      @media(min-width: $medium) {
        text-align: left;
      }
      @media(min-width: $large) {
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: normal;
      }
    }
  }
}
