.our-vision {
  position: relative;
  // // background-image: url("blue-rectangle@2x.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  @media(min-width: $medium) {
    // background-image: url("ourvision_bg_tablet@2x.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // padding-bottom: 80px;
    margin-top:40px;
  }
  @media(min-width: $large) {
    // background-image: url("intro_bg_tablet@2x.png");
  }

  h2 {
    margin-top: 19px;
    display: flex;
    align-items: center;

    &.our-vision-title {
      img {
        height: 60px;
      }
    }
    @media(min-width: $medium) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  p {
    margin-top: 23px;

    @media(min-width: $medium) {
      text-align: center;
    }

    @media(min-width: $large) {
      width: 741px;
      margin: 48px auto auto;
      font-size: var(--paragraph-secondary-size);
    }
  }

  .video-player {
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  img.benefits {
    margin-top: 20px;
  }

  .vision-benefits {
    margin-top: 35px;
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;

    @media(min-width: $medium) {
      text-align: center;
    }

    img {
      height: 52px;
      margin-right: 12px;
    }

    p {
      color: #ffffff;
      margin-top: 5px;
      font-family: var(--paragraph-font);
    }

    @media(min-width: $medium) {
      margin-top: 60px;

      img {
        width: 36px;
        height: 36px;
        margin-right: 21px;
      }

    }
    @media(min-width: $large) {
      margin: 60px auto auto;
      width: 90%;
      font-size: 16px;
      text-transform: uppercase;
    }

    div {
      margin-bottom: 20px;
    }
  }
}
