.our-vision {
  position: relative;
  // // background-image: url("blue-rectangle@2x.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  @media(min-width: $medium) {
    // background-image: url("ourvision_bg_tablet@2x.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // padding-bottom: 80px;
    margin-top: 40px;
  }
  @media(min-width: $large) {
    // background-image: url("intro_bg_tablet@2x.png");
  }

  h2 {
    margin-top: 19px;
    display: flex;
    align-items: center;
    font-size: 29px;

    &.our-vision-title {
      flex-direction: column;
      line-height: 1.22;

      img {
        height: 60px;
        margin-bottom: 15px;
        margin-right: 0;
        @media(min-width: $medium) {
          height: 75px;
          margin-right: 25px;
        }
      }
    }
    @media(min-width: $medium) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .video-player {
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  img.benefits {
    margin-top: 20px;
  }

  ul.vision-benefits {
    margin-top: 35px;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    padding-left: 0;
    list-style-type: none;
    @media(min-width: $medium) {
      text-align: center;
      padding-right: 14%;
      padding-left: 14%;
    }

    li {

      margin-bottom: 20px;

      h3 {
        font-family: var(--h2-font);
        font-size: 20px;
        letter-spacing: 0.26px;
        font-weight: 400;
        color: #fff;
        text-transform: none;
        margin-top: 12px;
        margin-bottom: 9px;
      }

      p {
        line-height: 1.22;
      }

      img {
        height: 52px;
        @media(min-width: $medium) {
          height: 61px;
        }
      }
      @media(min-width: $medium) {
        margin-top: 60px;

        img {
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
      @media(min-width: $large) {
        margin: 60px auto auto;
        width: 90%;
        font-size: 16px;
        text-transform: uppercase;
      }

      div {
        margin-bottom: 20px;
      }
    }
  }
}
