.our-vision {
  margin-top: 20px;
  position: relative;
  padding-top: 100%;
  padding-bottom: 20px;
  background-image: url("planet2.png");
  background-size: 100%;
  background-repeat: no-repeat;

  h2 {
    color: #fff;
  }

  h3 {
    color: #58a7e3;
  }

  p {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-align: left;
    color: #fff;
  }

  .social-bar {
    background-color: #1b7bc5;
    padding: 19px 0;
    margin-bottom: 50px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;

      p {
        font-family: Regular;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        margin: 0;
      }

      .social-icons {
        display: flex;
        justify-content: space-between;
        width: 166px;
        height: 25px;
        letter-spacing: -0.1px;
        color: #ffffff;

        i {
          font-size: 25px;
        }

        a,
        a:focus,
        a:hover,
        a:visited {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  .video-player {
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  img.benefits {
    margin-top: 20px;
  }
  .vision-benefits {
    margin-top: 35px;
    div {
      margin-bottom: 20px;
    }
    img {
      margin-right:12px;
    }
  }
}
