.poc {
  color: #fff;
  font-family: "Avenir Next";
  padding: 30px 0;
  position: relative;

  &.mobile-tablet {
    @media(min-width: $large) {
      display: none;
    }
  }

  h2 {
    line-height: 1.2em;
    margin-top: 26px;
    margin-bottom: 20px;

    @media(min-width: $medium) {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 35px;
    }
  }

  img.screenshot {
    width: 100%;
    margin-left: -8px;
  }

  .poc-screenshot {
    background-image: url("poc_screenshot_mobile@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
    border-radius: 5px;
    position: relative;

    .email-signup {
      margin-top: 0;
      position: absolute;
      bottom: -70px;
      width: 100%;

      button {
        font-size: 13px;
      }

      @media(min-width: $medium) {
        justify-content: flex-start;
        position: relative;
        bottom: -30px;

        button {
          width: 260px;
          height: 53px;
          border-radius: 4px;
          background-image: linear-gradient(to right, #2b37ee, #00d7ed);
          box-shadow: 0 2px 11px 0 rgba(0, 81, 133, 0.18);
        }
      }
    }

    @media(min-width: $medium) {
      min-height: 400px;
      background-image: url("poc_screenshot_tablet@2x.jpg");
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center right;
      margin-top:40px;
    }
  }

  .poc-benefits {
    margin-top: 15px;
    flex-direction: column;
    font-family: var(--h2-font);
    font-weight: 400;

    @media(min-width: $medium) {
      font-size: 21px;
      letter-spacing: 0;
    }

    div {
      margin-bottom: 10px;

      @media(min-width: $medium) {
        margin-bottom: 3px;
      }
      font-size: 18px;
    }

    img {
      margin-right: 12px;
      height: 16px;
    }
  }

  &.desktop {
    margin-top: 90px;
    @media(max-width: 1023px) {
      display: none;
    }

    h2 {
      justify-content: flex-start;
    }

    .email-signup {
      justify-content: flex-start;
      margin-top: 41px;

      button {
        margin-left: 0px;
        width: 259px;
        height: 53px;
        border-radius: 4px;
        background-image: linear-gradient(to right, #646acf, #28c0e6);
        box-shadow: 0 2px 8px 0 rgba(35, 78, 162, 0.25);
      }
    }
  }
}
