section.protocols {
  padding: 65px 0;
  background-color: #0F3588;
  position: relative;
  @media(min-width: $medium) {
    // background: none;
    padding-top: 130px;
    padding-bottom: 90px;
  }
  @media(min-width: $large) {
    padding-top: 80px;
    background: none;
    // background: #11539B image-url("solution_bg_gradient.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
  }
  @media(min-width: $xlarge) {
    padding-top: 100px;
    background: none;
    // background: #11539B image-url("solution_bg_gradient.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
  }

  .protocols-bg {
    @media(min-width: $medium) {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 150px;
      /* Path: */
      background: image-url("solution_bg_desktop.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    @media(min-width: $large) {
      background-size: contain;
    }
  }

  .hex-main-container {
    @media(min-width: $xlarge) {
      max-width: 1122px;
    }
  }

  .solution-intro {
    @media(min-width: $medium) {
      top: -70px;
    }
    @media(min-width: $large) {
      top: -16px;
    }

    p {
      text-align: left;
      font-size: 16px;
      letter-spacing: normal;
      line-height: 1.2;
      @media(min-width: $medium) {
        font-size: 16px;
        text-align: left;
        line-height: 1.2;
      }
      @media(min-width: $large) {
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 1.4;
      }
    }

    h3,
    p {
      @media(min-width: $large) {
        width: 95%;
      }
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 36px;
      @media(min-width: $medium) {
        justify-content: flex-start;
      }

      img {
        height: 68px;
      }

      span {
        font-weight: 300;
      }
    }

    h3 {
      color: #30BDFD;
      text-align: left;
      @media(max-width: $iphone5) {
        font-size: 16px;
      }
      @media(min-width: $medium) {
        font-size: 17px;
        margin-bottom: 17px;
        text-align: left;
        letter-spacing: 1.9px;
      }
      @media(min-width: $large) {
        font-size: 17px;
        margin-bottom: 19px;
        line-height: 1.3;
        // letter-spacing: 3.6px;
      }
    }
  }

  h2 {
    @media(min-width: $medium) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  h4 {
    display: none;
    font-weight: 300;
    @media(min-width: $medium) {
      display: inline-block;
      margin-bottom: 18px;
    }
    @media(min-width: $large) {
      margin-bottom: 24px;
      font-size: 27px;
    }

    span {
      font-weight: 600;
    }
  }
  $ripple-color: #2E87DE;

  .circle-ripple {
    position: absolute;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: ripple 0.7s linear infinite;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba($ripple-color, 0.3), 0 0 0 0.5em rgba($ripple-color, 0.3), 0 0 0 1em rgba($ripple-color, 0.3),;
    }

    100% {
      box-shadow: 0 0 0 0.5em rgba($ripple-color, 0.3), 0 0 0 1em rgba($ripple-color, 0.3), 0 0 0 1.5em rgba($ripple-color, 0);
    }
  }
  @media(min-width: $medium) {
    @keyframes ripple {
      0% {
        box-shadow: 0 0 0 0 rgba($ripple-color, 0.4), 0 0 0 0.5em rgba($ripple-color, 0.4), 0 0 0 1.2em rgba($ripple-color, 0.4),;
      }

      100% {
        box-shadow: 0 0 0 0.5em rgba($ripple-color, 0.4), 0 0 0 1.2em rgba($ripple-color, 0.4), 0 0 0 1.7em rgba($ripple-color, 0);
      }
    }
  }

  .hex {
    margin: 30px 0 0;
    position: relative;
    padding-top: 30px;
    @media(min-width: $medium) {
      padding-top: 0;
      width: 100%;
      margin: 15px 0 0;
    }
    @media(min-width: $large) {
      margin: 30px 0 0;
    }

    .hex-title {
      @media(min-width: $medium) {
        display: none;
      }

      &.inactive {
        opacity: 0.3;

        &:nth-child(1) {
          top: -30px;
        }
      }
      font-family: var(--h3-font);
      font-size: 23px;
      font-weight: 300;
      line-height: 0.95;
      letter-spacing: 0;
      text-align: center;
      color: #ffffff;
      position: absolute;

      &:nth-child(1) {
        right: 0;
        top: -24px;
        left: 0;
      }

      &:nth-child(2) {
        left: 15px;
        bottom: 13px;
      }

      &:nth-child(3) {
        right: 15px;
        bottom: 13px;
      }
    }
  }

  .description {
    text-align: center;
    color: #ffffff;
    // margin-bottom: 65px;
    margin-top: 4px;
    padding: 0 10px;
    @media(min-width: $medium) {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }
    @media(min-width: $large) {
      margin-top: 25px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.21;
      color: #fff;
      letter-spacing: 0;
      @media(max-width: $iphone5) {
        font-size: 16px;
      }
      @media(min-width: $medium) {
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: -0.1px;
      }
      @media(min-width: $large) {
        font-size: 19px;
        line-height: 1.32;
        letter-spacing: -0.1px;
      }
    }

    ul.features {
      list-style-type: none;
      padding-left: 0;
      font-family: var(--h3-font);
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      @media(min-width: $medium) {
        font-size: 17px;
      }
      @media(min-width: $large) {
        font-size: 19px;
      }

      li {
        display: flex;
        flex: 0 0 50%;
        align-items: center;
        line-height: 1.1;
        margin-bottom: 20px;
        font-size: 17px;
        @media(min-width: $large) {
          font-size: 19px;
          padding-right: 12px;
        }

        img {
          margin-right: 6px;
          height: 16px;
          @media(min-width: $large) {
            margin-right: 17px;
            height: 13px;
          }
        }
      }
    }
    @media(min-width: $medium) {
      opacity: 1;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: -0.1px;
      text-align: left;
      color: #ffffff;

      h2 {
        display: block;
        font-size: 27px;
        font-weight: 400;
        line-height: 0.7;
        letter-spacing: 0;
        text-align: left;
        color: #ffffff;
      }

      .feature {
        height: 20px;
        line-height: 20px;
        display: flex;
        font-size: 17px;
        letter-spacing: 0;
        text-align: left;
        color: #ffffff;
        margin-bottom: 14px;

        img {
          margin: 0;
          height: 16px;
          width: 18px;
          margin-right: 10px;
        }
      }
    }
    @media(min-width: $large) {
      // min-width: 600px;
    }
  }

  .slider {
    width: 100%;
    margin: 14px auto;
    @media(min-width: $medium) {
      margin: 0 auto;
    }
    @media(min-width: $large) {
      margin: 40px auto;
    }
  }

  .slick-slide {
    margin: 10px 0;
    width: 100%;
    transform: scale(0.95);
    useTransform: false;
    padding: 5px;

    .slider-inner {
      background: image-url("slider_bg@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 17px;
      padding: 20px 20px 40px;
      box-shadow: 0 7px 15px 0 rgba(0,41,92,0.37);
    }
  }

  .slick-dots {
    bottom: -30px;
  }

  .slick-next:before,
  .slick-prev:before {
    color: #FFFFFF;
  }

  .slick-slide .slider-image img {
    width: 167px;
    margin: 0 auto;
    @media(min-width: $medium) {
      width: 237px;
      max-width: 100%;
    }
    @media(min-width: $large) {
      width: 237px;
    }
  }

  .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 1;
    // transform: scale(.95);
    @media(min-width: $medium) {
      width: 100%;
    }
  }
  // .slick-active {
  //   opacity: 0.5;
  //   // transform: scale(1);
  // }
  .slick-current {
    opacity: 1;
    transform: scale(1);
  }

  .slick-next,
  .slick-prev {
    display: none;
    opacity: 0.8;
    transition: opacity 0.3s;
    width: 31px;
    height: 17px;
    background-size: 32px;
    bottom: 24px;
    top: auto;

    &:hover {
      opacity: 1;
    }
    @media(min-width: $medium) {
      top: 23%;
      width: 50px;
      height: 50px;
    }
    @media(min-width: $large) {
      top: 43%;
    }
  }

  .slick-prev {
    left: 39%;
    z-index: 10;
    background-image: image-url("slider_arrow_left.svg");

    &:before {
      content: '';
    }
    @media(min-width: $medium) {
      left: 10%;
      background-size: cover;
    }
    @media(min-width: $large) {
      left: 5%;
    }
  }

  .slick-next {
    right: 39%;
    background-image: image-url("slider_arrow_right.svg");

    &:before {
      content: '';
    }
    @media(min-width: $medium) {
      right: 10%;
      background-size: cover;
    }
    @media(min-width: $large) {
      right: 2%;
    }
  }
  $ripple-color: #2E87DE;

  .slider-image {
    position: relative;
    width: 156px;
    margin: auto;
    @media(min-width: $medium) {
      width: 207px;
      height: 324px;
    }
    @media(min-width: $medium) {
      height: auto;
    }

    .circle-ripple-top {
      top: -2px;
      left: 79px;
      @media(min-width: $medium) {
        left: 98px;
      }
      @media(min-width: $large) {
        left: 99px;
      }
    }

    .circle-ripple-left {
      left: -2px;
      bottom: 90px;
      @media(min-width: $medium) {
        bottom: 121px;
      }
      @media(min-width: $large) {
        bottom: 122px;
      }
    }

    .circle-ripple-right {
      right: -2px;
      bottom: 90px;
      @media(min-width: $medium) {
        bottom: 121px;
      }
      @media(min-width: $large) {
        bottom: 122px;
        right: 0;
      }
    }
  }

  .row {
    @media(min-width: $medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  span {
    color: #fff;
    font-weight: 500;
  }

  .hex-full {
    display: none;
    position: relative;
    @media(min-width: $medium) {
      display: flex;
      justify-content: center;
    }
    // margin-right: 60px;
    img {
      @media(min-width: $medium) {
        max-width: 207px;
      }
      @media(min-width: $large) {
        max-width: 250px;
      }
    }

    .hex-full-container {
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .circle-ripple-top {
        @media(min-width: $medium) {
          left: 50%;
          margin-left: -6px;
          top: 51px;
        }
        @media(min-width: $large) {
          top: -2px;
        }
      }

      .circle-ripple-left {
        @media(min-width: $medium) {
          bottom: 175px;
          left: 57px;
        }
        @media(min-width: $large) {
          bottom: 146px;
          left: 73px;
        }
      }

      .circle-ripple-right {
        @media(min-width: $medium) {
          bottom: 175px;
          right: 57px;
        }
        @media(min-width: $large) {
          bottom: 146px;
          right: 73px;
        }
      }

      .hex-title {
        font-family: var(--h3-font);
        font-size: 23px;
        font-weight: 300;
        line-height: 0.95;
        letter-spacing: 0;
        text-align: center;
        color: #ffffff;
        position: absolute;

        &:nth-child(5) {
          right: 0;
          top: -20px;
          left: 0;
          @media(min-width: $large) {
            top: -65px;
          }
        }

        &:nth-child(6) {
          left: -26px;
          bottom: 80px;
        }

        &:nth-child(7) {
          right: -26px;
          bottom: 80px;
        }
      }
    }
    @media(min-width: $large) {
      margin-right: 0;
    }
  }

  .one-slider {
    .container {
      padding-left: 0;
      padding-right: 0;
      @media(min-width: $medium) {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
      }
      @media(min-width: $large) {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1008px;
      }
    }
  }
}
