$timeline-color: #FFF;
$timeline-future-color: #32aff1;
$timeline-line-width: 1px;
$timeline-size: 14px;

section.roadmap {
  button,
  h1,
  h2,
  h4,
  p {
    -webkit-font-smoothing: antialiased;
  }

  background-image: url("roadmap_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;

  .roadmap-container-mobile {
    display: block;
    @media(min-width: $medium) {
      display: none;
    }

    .timeline {
      list-style: none;
      margin: 25px 3px 0;
      padding: 0;
      position: relative;
    }

    .timeline-milestone {
      -webkit-border-image: -webkit-linear-gradient(#2ebfff, #708dd5) 1 100%;
      border-left: $timeline-line-width solid $timeline-color;
      margin: 0 0 0 20px;
      padding: 0 0 5px 25px;
      position: relative;
      box-sizing: border-box;

      &:before {
        border: ($timeline-line-width * 3.5) solid $timeline-color;
        border-radius: 50%;
        content: "";
        display: block;
        position: absolute;
        left: -(($timeline-line-width / 2) + ($timeline-size / 2));
        width: $timeline-size;
        height: $timeline-size;
        box-sizing: border-box;
      }

      &.is-completed {
        &:before {
          background-color: $timeline-color;
        }

        &:after {
          color: #FFF;
          content: "\f00c";
          display: block;
          font-family: "FontAwesome";
          line-height: $timeline-size;
          position: absolute;
          top: 0;
          left: -(($timeline-line-width / 2) + ($timeline-size / 2));
          text-align: center;
          width: $timeline-size;
          height: $timeline-size;
          box-sizing: border-box;
        }
      }

      &.is-current {
        &:before {
          background-color: #EEE;
        }
      }

      &.is-future {
        &:before {
          background-color: $timeline-future-color;
          border: 0;
        }
      }

      .content {
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        font-family: Regular;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        color: rgba(255, 255, 255, 0.76);
      }
    }
  }

  .roadmap-container-desktop {
    display: none;

    @media(min-width: $medium) {
      display: block;
    }

    ul {
      list-style-type: disc;
      padding-left: 18px;
      color: #fff;
      margin-top:20px;
    }

    .slider {
      width: 100%;
      margin: 20px auto;
    }

    .slick-slide {
      margin: 10px 10px;
      padding: 30px;
    }

    .slick-slide img {
      width: 156px;
      margin: 0 auto;
    }

    .slick-next:before,
    .slick-prev:before {
      color: black;
    }

    .slick-slide img {
      width: 156px;
      margin: 0 auto;
    }

    .slick-next:before,
    .slick-prev:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out 0.3s;
      opacity: 1;
      transform: scale(.95);
      background-size: cover;
      border-radius: 16px;
      border-style: solid;
      border-width:1px;
      border-image-source: linear-gradient(to right, #646acf, #28d4e6);
      border-image-slice: 1;
    }

    .slick-active {
      transform: scale(1);
    }

    .slick-current {
      opacity: 1;
    }

    .slick-prev {
      left: 40%;
      top: 304px;
      z-index: 100;
    }

    .slick-next {
      right: 40%;
      top: 304px;
      z-index: 100;
    }
  }
}
