$timeline-color: $primary-color;
$timeline-future-color: #32aff1;
$timeline-line-width: 1px;
$timeline-size: 14px;

.roadmap {
  background-image: linear-gradient(179deg, #2755a7, #0379b6), linear-gradient(#00a7b7, #00a7b7);

  h2, h3 {
    color: $primary-color;
    font-weight: 600;
    font-family: $font-family;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
  }

  h2 {
    font-size: $subheading-size;
    padding-top: 49px;
  }

  h3 {
    font-size: 21px;
  }

  &:before {
    content: '';
    background-image: url('pattern_hex@2x.png');
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 100%;
  }

  .roadmap-container {

    .timeline {
      list-style: none;
      margin: 25px 3px 0px;
      padding: 0;
      position: relative;
    }

    .timeline-milestone {
      -webkit-border-image:
     -webkit-linear-gradient(#2ebfff, #708dd5) 1 100%;
      border-left: $timeline-line-width solid $timeline-color;
      margin: 0 0 0 20px; padding: 0 0 5px 25px;
      position: relative;
      box-sizing: border-box;

      &:before {
        border: ($timeline-line-width * 3.5) solid $timeline-color; border-radius: 50%;
        content: "";
        display: block;
        position: absolute; left: -(($timeline-line-width / 2) + ($timeline-size / 2));
        width: $timeline-size; height: $timeline-size;
        box-sizing: border-box;
      }

      &.is-completed {
        &:before {
          background-color: $timeline-color;
        }

        &:after {
          color: #FFF;
          content: "\f00c";
          display: block;
          font-family: "FontAwesome";
          line-height: $timeline-size;
          position: absolute; top: 0; left: -(($timeline-line-width / 2) + ($timeline-size / 2));
          text-align: center;
          width: $timeline-size; height: $timeline-size;
          box-sizing:border-box;
        }
      }

      &.is-current {
        &:before {
          background-color: #EEE;
        }
      }

      &.is-future {
        &:before {
          background-color: $timeline-future-color;
          border: 0;
        }
      }

      .content {
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        color: rgba(255, 255, 255, 0.76);
      }
    }
  }
}
