section.solution {
  padding: 50px 0;
  background-image: url("solution_bg_mobile@2x.jpg");
  background-size: cover;
  position: relative;
  @media(min-width: $medium) {
    padding-top: 100px;
  }

  .solution-intro {
    @media(min-width: $medium) {
      top: -70px;
    }
    p {
      @media(min-width: $medium) {
        font-size: 20px;
      }
    }
    h3,p {
      @media(min-width: $large) {
        width: 90%
      }
    }
    h2 {
      display: flex;
      align-items: center;
      img {
        height: 55px;
      }
    }
  }
  @media(min-width: $large) {
    padding-top: 150px;
    /* Path: */
    background-color: #165699;
    background-image: url("solution_bg_desktop@2x.jpg");
    max-width: 1440px;
  }

  &:before {
    @media(min-width: $medium) {
      background: #1d529c;
      top: -42px;
      content: '';
      z-index: 2;
      display: block;
      height: 45px;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-2.5deg);
      transform-origin: 100%;
      z-index: 2;
    }
  }

  &:after {
    @media(min-width: $medium) {
      background: #1b5aa2;
      bottom: -3px;
      content: '';
      z-index: 2;
      display: block;
      height: 45px;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-2.5deg);
      transform-origin: 100%;
      z-index: 2;
    }
  }

  h2 {
    @media(min-width: $medium) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  h4 {
    display: none;
    @media(min-width: $medium) {
      display: inline-block;
    }
  }

  .hex {
    margin: 30px 30px 0;
    position: relative;
    padding-top: 30px;
    @media(min-width: $medium) {
      padding-top: 0;
      width: 100%;
    }

    .hex-title {
      &.inactive {
        opacity: 0.3;

        &:nth-child(1) {
          top: -24px;
        }
      }
      @media(min-width: $medium) {
        display: none;
      }
      font-family: var(--h2-font);
      font-size: 22px;
      font-weight: 600;
      line-height: 0.95;
      letter-spacing: 0;
      text-align: center;
      color: #ffffff;
      position: absolute;

      &:nth-child(1) {
        right: 0;
        top: -24px;
        left: 0;
      }

      &:nth-child(2) {
        left: 0;
        bottom: 13px;
      }

      &:nth-child(3) {
        right: 0;
        bottom: 13px;
      }
    }
  }

  .description {
    text-align: left;
    color: #ffffff;
    // margin-bottom: 65px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;

    p {
      font-family: var(--paragraph-secondary-font);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.21;
      @media(min-width: $medium) {
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: -0.1px;
      }
    }

    ul.features {
      list-style-type: none;
      padding-left: 0;
      font-family: var(--h2-font);
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      @media(min-width: $medium) {
        font-size: 17px;
      }

      li {
        display: flex;
        flex: 1 0 50%;
        align-items: center;
        margin-bottom: 10px;

        img {
          margin-right: 6px;
          height: 16px;
        }
      }
    }
    @media(min-width: $medium) {
      opacity: 1;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: -0.1px;
      text-align: left;
      color: #ffffff;

      h2 {
        display: block;
        font-size: 27px;
        font-weight: 400;
        line-height: 0.7;
        letter-spacing: 0;
        text-align: left;
        color: #ffffff;
      }

      .feature {
        height: 20px;
        line-height: 20px;
        display: flex;
        font-size: 17px;
        letter-spacing: 0;
        text-align: left;
        color: #ffffff;
        margin-bottom: 14px;

        img {
          margin: 0;
          height: 16px;
          width: 18px;
          margin-right: 10px;
        }
      }
    }
    @media(min-width: $large) {
      min-width: 600px;
    }
  }

  .slider {
    width: 100%;
    margin: 20px auto;
    @media(min-width: $medium) {
      margin: 0 auto;
    }
    @media(min-width: $large) {
      margin: 40px auto;
    }
  }

  .slick-slide {
    margin: 10px 0;
    width: 100%;
  }

  .slick-next:before,
  .slick-prev:before {
    color: #FFFFFF;
  }

  .slick-slide .slider-image img {
    width: 156px;
    margin: 0 auto;
    @media(min-width: $medium) {
      width: 207px;
    }
  }

  .slick-next:before,
  .slick-prev:before {
    color: #FFFFFF;
  }

  .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 1;
    // transform: scale(.95);
    @media(min-width: $medium) {
      width: 100%;
    }
  }

  .slick-active {
    opacity: 0.5;
    // transform: scale(1);
  }

  .slick-current {
    opacity: 1;
  }

  .slick-prev {
    left: 30px;
    top: 170px;
    z-index: 100;
    width: 37.47px;
    height: 36.47px;
    background-image: url("slider_arrow_left.svg");

    &:before {
      content: '';
    }
    @media(min-width: $medium) {
      left: 20px;
      top: 45%;
    }
    @media(min-width: $large) {
      left: 6%;
      top: 45%;
    }
  }

  .slick-next {
    right: 30px;
    top: 170px;
    z-index: 100;
    width: 37.47px;
    height: 36.47px;
    background-image: url("slider_arrow_right.svg");

    &:before {
      content: '';
    }
    @media(min-width: $medium) {
      right: 20px;
      top: 45%;
    }
    @media(min-width: $large) {
      right: 6%;
      top: 45%;
    }
  }
  $ripple-color: #2E87DE;

  .slider-image {
    position: relative;
    width: 156px;
    margin: auto;
    @media(min-width: $medium) {
      width: 207px;
      height: 324px;
    }

    .circle-ripple {
      position: absolute;
      background-color: #fff;
      width: 0.55em;
      height: 0.55em;
      border-radius: 50%;
      animation: ripple 0.7s linear infinite;
    }
    @keyframes ripple {
      0% {
        box-shadow: 0 0 0 0 rgba($ripple-color, 0.3), 0 0 0 0.5em rgba($ripple-color, 0.3), 0 0 0 1em rgba($ripple-color, 0.3),;
      }

      100% {
        box-shadow: 0 0 0 0.5em rgba($ripple-color, 0.3), 0 0 0 1em rgba($ripple-color, 0.3), 0 0 0 1.5em rgba($ripple-color, 0);
      }
    }

    .circle-ripple-top {
      top: -2px;
      left: 74px;
      @media(min-width: $medium) {
        left: 98px;
      }
    }

    .circle-ripple-left {
      left: -2px;
      bottom: 79px;
      @media(min-width: $medium) {
        bottom: 143px;
      }
    }

    .circle-ripple-right {
      right: -2px;
      bottom: 79px;
      @media(min-width: $medium) {
        bottom: 143px;
      }
    }
  }

  .row {
    @media(min-width: $medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  span {
    color: var(--h3-color);

    &::first-letter {
      text-decoration-style: wavy;
      text-decoration: underline;
    }
  }

  .hex-full {
    display: none;
    width: 207px;
    // margin-right: 60px;
    @media(min-width: $medium) {
      display: block;
      position: relative;

      img {
        max-width: 207px;
      }

      .hex-title {
        font-family: var(--h2-font);
        font-size: 20px;
        font-weight: 600;
        line-height: 0.95;
        letter-spacing: 0;
        text-align: center;
        color: #ffffff;
        position: absolute;

        &:nth-child(2) {
          right: 0;
          top: -50px;
          left: 0;
        }

        &:nth-child(3) {
          left: 0;
          bottom: 80px;
        }

        &:nth-child(4) {
          right: 0;
          bottom: 80px;
        }
      }
    }
    @media(min-width: $large) {
      margin-right: 0;
    }
  }

  .one-slider {
    .container {
      padding-left: 0;
      padding-right: 0;
      @media(min-width: $medium) {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
      }
      @media(min-width: $large) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
