.solution {
  padding: 60px 0;
  background-color: #1D4398;

  .ecosystem-tablet {
    display: none;
  }

  .ecosystem-mobile {
    width: 100%;
    margin-top:20px;
  }
  h2 {
    display: flex;
    align-items: center;
  }
  .title-icon {
    height: 60px;
    margin-right: 12px;
  }

  @media(min-width: $medium) {
    background: none;

    text-align: center;

    h2 {
      justify-content: center;
    }

    .ecosystem-mobile {
      display: none;
    }

    .ecosystem-tablet {
      margin-top: 20px;
      display: block;
      width: 100%;
    }
  }
}
