.status-quo {
  padding-bottom: 40px;
  background-color: #F6FBFF;
  background-image: url("status_quo_bg.png");
  background-size: cover;

  h2 {
    color: #4c6a7f;
  }

  h3 {
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #58a7e3;
    padding-top: 37px;
  }

  p {
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-align: left;
    color: #4c5b73;
  }

  .block {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 87px;
    padding-right: 20px;

    .title {
      font-family: Regular;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.28;
      letter-spacing: 0;
      text-align: left;
      color: #4c6a7f;
    }

    .content {
      font-family: Regular;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0;
      text-align: left;
      color: rgba(106, 106, 126, 0.76);
    }

    .description {
      margin-left: 12px;
    }
  }

  .block-1 {
    margin-top: 29px;

    .blue-rectangle {
      width: 47px;
    }
  }

  .block-2 {
    margin-top: 14px;

    .blue-rectangle {
      width: 35px;
    }
  }

  .block-3 {
    margin-top: 14px;

    .blue-rectangle {
      width: 24px;
    }
  }

  .block-4 {
    margin-top: 14px;

    .blue-rectangle {
      width: 16px;
    }
  }
}
