.status-quo {
  padding-bottom: 40px;
  background-color: #F6FBFF;
  background-image: url("status_quo_bg.png");
  background-size: cover;
  padding-top: 37px;

  @media(min-width: $medium) {
    background: #F6FBFF;
    padding-top: 60px;
  }

  h2 {
    color: var(--subtitle-secondary-color);
    @media(min-width: $medium) {
      text-align: center;
    }
  }

  h3 {
    color: var(--title-secondary-color);
    @media(min-width: $medium) {
      text-align: center;
    }
  }

  p {
    color: var(--paragraph-secondary-color);
    font-size: var(--paragraph-secondary-size);

    @media(min-width: $medium) {
      text-align: center;
    }
  }

  .block {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 87px;
    padding-right: 20px;

    @media(min-width: $medium) {
      display: block;
    }

    .title {
      font-family: Regular;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0;
      text-align: left;
      color: #24698e;

      @media(min-width: $medium) {
        font-size: 22px;
        line-height: 1.05;
        color: #4c6a7f;
        font-weight: 500;
      }
    }

    .content {
      line-height: 1.38;
      letter-spacing: -0.1px;
      text-align: left;
      color: #7d8ba2;
    }

    .description {
      margin-left: 12px;

      @media(min-width: $medium) {
        margin-left: 0px;
        margin-top: 14px;
      }
    }
  }

  .block-1 {
    margin-top: 29px;

    .blue-rectangle {
      width: 47px;
    }
  }

  .block-2 {
    margin-top: 14px;

    @media(min-width: $medium) {
      margin-top: 29px;
    }

    .blue-rectangle {
      width: 35px;
    }
  }

  .block-3 {
    margin-top: 14px;

    .blue-rectangle {
      width: 24px;
    }
  }

  .block-4 {
    margin-top: 14px;

    .blue-rectangle {
      width: 16px;
    }
  }
}
