.team {
  padding: 50px 0;
  background-color: #0F3588;
  position: relative;

  @media(max-width: $iphone5) {
    padding-top: 30px;
  }

  @media(min-width: $medium) {
    background: image-url("team_bg_desktop.png");
    background-size: cover;
    padding-bottom: 120px;
    padding-top: 80px;
  }

  .team-bg {
    background: image-url("map_bg_mobile@2x.png");
    height: 100%;
    width: 100%;
    top: 140px;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 634px;
    z-index: 0;
    @media(max-width: $iphone5) {
      background-size: 550px;
    }
    @media(min-width: $medium) {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 150px;
      /* Path: */
      background: image-url("team_bg_tablet@2x.png");
      background-size: 1214px;
      background-repeat: no-repeat;
      background-position: -100px 37px;
    }
    @media(min-width: $large) {
      top: 0;
      left: 0;
      padding-top: 150px;
      /* Path: */
      background: image-url("map_desktop.png");
      background-size: 1540px;
      background-repeat: no-repeat;
      background-position: center 10px;
    }
  }

  .team-container {
    @media(max-width: $medium) {
      position: relative;
      z-index: 2;
    }
    @media(min-width: $large) {
      max-width: 1000px;
    }
  }

  .team-intro {
    @media(min-width: $medium) {
      width: 80%;
      margin-left: 4%;
    }
    @media(min-width: $large) {
      width: 330px;
      position: absolute;
      right: 15%;
      top: 233px;
    }

    h2 {
      margin-top: 26px;
      margin-bottom: 20px;

      img {
        margin-right: 15px;
      }
    }

  }

  .employee-grid {
    margin-top: 225px;
    @media(max-width: $iphone5) {
      margin-top: 185px;
    }
    @media(min-width: $medium) {
      margin-top: 260px;
    }
    @media(min-width: $large) {
      margin: 450px auto auto;
      width: 90%;
    }

    .col-lg-4 {
      @media(min-width: $large) {
        margin-bottom: 15px;
      }
    }

    &:nth-child(6) {
      margin-bottom: 0;
    }

    figure {
      margin: auto;
      width: 125px;
      @media(min-width: $medium) {
        width: 149px;
      }
      @media(min-width: $large) {
        width: 166px;
      }

      img {
        width: 100%;
        border-radius: 100%;
      }
    }

    figcaption {
      margin-top: 5px;
      font-size: 16px;
      font-family: var(--paragraph-font);
      font-weight: 600;
      color: #ffffff;
      text-align: center;
      @media(min-width: $medium) {
        font-size: 18px;
      }
    }

    p {
      font-family: var(--paragraph-font);
      font-weight: 500;
      font-size: 13px;
      color: ffffff;
      text-align: center;
      @media(min-width: $medium) {
        font-size: 16px;
      }
    }
  }
}
