.team {
  padding: 50px 0px;;
  background-image: url("solution_bg.jpg");
  background-size: cover;
  position: relative;

  @media(min-width: $medium) {
    background-image: url("solution_bg.jpg");
    background-size: cover;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("map_mobile@2x.png");
    background-position: center 180px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    top: 0;

    @media(min-width: $medium) {
      background-image: url("map_desktop@2x.png");
      background-position: center 50px;
    }
  }

  .team-intro {
    @media(min-width: $medium) {
      width: 80%;
      margin-left: 4%;
    }

    @media(min-width: $large) {
      width: 380px;
      position: absolute;
      right: 10%;
      top: 200px;
    }

    h2 {
      margin-top: 26px;
      margin-bottom: 15px;
    }

    p {
      font-size: var(--paragraph-secondary-size);
    }
  }

  .employee-grid {
    margin-top: 250px;

    @media(min-width: $medium) {
      margin-top: 180px;
    }

    @media(min-width: $large) {
      margin: auto;
      margin-top: 500px;
      width: 90%;
    }

    &:nth-child(6) {
      margin-bottom: 0;
    }


      figure {
        margin: auto;
        width: 125px;

        @media(min-width: $medium) {
          width: 149px;
        }

        @media(min-width: $large) {
          width: 166px;
        }

        img {
          width: 100%;
          border-radius: 100%;
        }
      }

      figcaption {
        font-size: 16px;
        font-family: var(--paragraph-font);
        font-weight: 600;
        color: #ffffff;
        text-align: center;

        @media(min-width: $medium) {
          font-size: 18px;
        }
      }

      p {
        font-family: var(--paragraph-font);
        font-weight: 500;
        font-size: 13px;
        color: ffffff;
        text-align: center;

        @media(min-width: $medium) {
          font-size: 16px;
        }
      }

  }
}
