.team {
  padding-top: 53px;
  background-color: #F6FBFF;
  background-image: url("map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 150px;

  h3 {
    color: $subheading-color;
  }

  h2 {
    color: #4c6a7f;
    line-height: normal;
    margin-top: 26px;
    margin-bottom: 15px;
  }

  p {
    color: #4c5b73;
  }

  .employee-grid-row {
    &:nth-child(4) {
      margin-top: 200px;
    }

    &:nth-child(6) {
      margin-bottom: 0;
    }
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .employee {
      figure {
        margin: auto;
        width: 125px;

        img {
          width: 100%;
          border-radius: 100%;
        }
      }

      figcaption {
        font-family: $global-font;
        font-weight: 600;
        color: #666666;
        text-align: center;
      }

      p {
        font-family: $global-font;
        font-weight: 500;
        font-size: 13px;
        color: rgba(106, 106, 126, 0.76);
        text-align: center;
      }
    }
  }
}
