.token {
  background-image: url("token_bg@2x.jpg");
  background-size: cover;
  padding-top: 320px;
  position: relative;
  padding-bottom: 60px;

  @media(min-width: $medium) {
    padding-top: 60px;
  }

  .container {
    position: relative;

    .token-icon {
      position: absolute;
      top: 50px;
      margin: auto;
      left: 0;
      right: 0;
      width: 302px;

      @media(min-width: $medium) {
        right: 0;
        left: auto;
      }

      @media(min-width: $large) {
        right: 80px;
        top: 80px;
      }
    }
  }


  @media(min-width: $medium) {
    background-position-y: top;
    background-position-x: 441px;
    background-size: 340px auto;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    @media(min-width: $medium) {
      background-image: url("token_bg_tablet@2x.jpg");
      background-size: cover;
    }
  }

  h4 {
    font-family: var(--h2-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: 0;
    text-align: left;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    @media(min-width: $medium) {
      font-size: 21px;
      line-height: 1.1;
      margin-top: 12px;
      letter-spacing: 0.3px;
    }
  }

  .token-blocks {
    margin-top: 20px;

    .token-copy {
      @media(min-width: $large) {
        order: 2;
        margin-top:auto;
      }
    }
  }

  .token-row {
    padding-top: 21px;

    p {
      font-family: var(--paragraph-font);
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.1px;
      text-align: left;
      color: #ffffff;
      margin-bottom: 0;
      @media(min-width: $large) {
        width: 90%;
      }
    }

    img {
      height: 45px;
    }
  }
}
