.token {
  background: url('group-32@2x') no-repeat;
  background-position: top center;
  background-size: 280px auto;
  padding-bottom: 43px;
  margin-top: 40px;

  h2 {
    line-height: normal;
    font-weight: 500;
    font-size: 30px;
    color: #4c6a7f;
    font-family: Regular;
  }

  h3 {
    padding-top: 245px;
    margin-bottom: 16px;
    color: $subheading-color;
    font-size: 14px;
    letter-spacing: 0.6px;
  }

  h4 {
    font-family: Regular;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0;
    text-align: left;
    color: #4c6a7f;
    margin-top: 10px;
  }

  p {
    font-family: Avenir Next;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.1px;
    color: #4c5b73;
  }

  .token-row {
    padding-top: 21px;

    p {
      line-height: 1.38;
      color: #7d8ba2;
    }
  }

  .token-icon-1 {
    width: 61px;
  }

  .token-icon-2 {
    width: 64px;
  }

  .token-icon-3 {
    width: 46.5px;
  }
}
