<div class="email-bar d-none d-md-flex">
  <span>Goodfair private presale begins soon!</span>
  <div class="email-signup">
    <div class='input-div'>
      <input type="text" placeholder="<%=t 'intro.email_address' %>">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>

    <button type="button"><%=t 'intro.stay_updated_btn' %></button>
  </div>
</div>
