<nav class="navbar">
  <div class="container">
    <a href="#" class="navbar-brand ">
      <div class="logo"></div>
    </a>
    <div class="button_container toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
  </div>
</nav>
<div class="overlay" id="overlay">
  <div class="logo"></div>
  <div class="button_container toggle" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
  <nav class="overlay-menu">
    <ul>
      <li><a href="#">Our Vision</a></li>
      <li><a href="#">Proof of Concept</a></li>
      <li><a href="#">The Problem</a></li>
      <li><a href="#">The Solution</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Roadmap</a></li>
      <li><a href="#">Our Team</a></li>
    </ul>
  </nav>
  <div class='nav-footer'>
    <button type='button' class='whitepaper-btn'>Whitepaper</button>
    <button type='button' class='demo-btn'>Demo POC</button>
  </div>

</div>
