<div class="container">
  <div class="navbar">
      <a href="#" class="navbar-brand ">
        <img class="logo" src="assets/logo@2x.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="intro-copy">
    <h1><%=t 'intro.title' %></h1>
    <p>Self-governed commerce with efficient transactions, smart escrow, verified products</p>
  </div>
  <div class="email-signup">

  </div>
  <div class="intro-poc">

  </div>
</div>
