<div class="container">
  <h3><%=t 'our_vision.subtitle' %></h3>
  <h2><%=t 'our_vision.title' %></h2>
  <p><%=t 'our_vision.paragraph' %></p>

  <div class='video-player'>
    <image src='assets/video-player@2x.png' alt='Video' />
  </div>
</div>
