<div class="container">
  <h3><%=t 'our_vision.subtitle' %></h3>
  <h2>Announcing the Simba Proof of Concept!</h2>
  <img class="screenshot" src="assets/poc_screenshot@2x.png">
  <div class="row poc-benefits">
    <div class="col-6"><img src="assets/vision_benefit_1.svg">Self-Governed</div>
    <div class="col-6"><img src="assets/vision_benefit_2.svg">Low Cost</div>
    <div class="col-6"><img src="assets/vision_benefit_3.svg">Data Security</div>
    <div class="col-6"><img src="assets/vision_benefit_4.svg">Efficient</div>
  </div>

    <div class="email-signup">
      <button type="button">Explore It Now</button>
    </div>
</div>
