<div class="container">
  <h3><%=t 'our_vision.subtitle' %></h3>
  <h2>Announcing the Simba Proof of Concept!</h2>
  <img class="screenshot" src="assets/poc_screenshot@2x.png">
  <div class=" poc-benefits">
    <div><img src="assets/poc_checkmark.svg">Browser Access</div>
    <div><img src="assets/poc_checkmark.svg">Test Ethereum</div>
    <div><img src="assets/poc_checkmark.svg">MetaMask</div>
    <div><img src="assets/poc_checkmark.svg">Buyer Dashboard</div>
  </div>

    <div class="email-signup">
      <button type="button">Explore It Now</button>
    </div>
</div>
