<div class="container roadmap">
  <h2>Roadmap</h2>
  <figure>
    <div class='oval-1'>
    </div>
  </figure>
  <div class='roadmap-copy'>
    <h3>2017</h3>
    <ul>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
    </ul>
    <h3>2018 Q1</h3>
    <ul>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
    </ul>
    <h3>2018 Q2</h3>
    <ul>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
    </ul>
    <h3>2018 Q3</h3>
    <ul>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
      <li>Roadmap Item</li>
    </ul>
  </div>
</div>
