<div class="container">
  <h2>Roadmap</h2>
  <div class='roadmap-container'>
    <ul class='timeline'>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3>2017</h3>
            <ul>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3>2018 Q1</h3>
            <ul>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3>2018 Q2</h3>
            <ul>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="timeline-milestone is-future timeline-start">
        <div class="timeline-action">
          <div class="content">
            <h3>2018 Q3</h3>
            <ul>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
              <li>Roadmap Item</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
