<div class="container">

  </div>
  <section class="center slider">
  <div>
      <img src="assets/simtrust.png">
    </div>
    <div>
      <img src="assets/simshop.png">
    </div>
    <div>
      <img src="assets/simtrust.png">
    </div>
    <div>
      <img src="http://placehold.it/350x300?text=4">
    </div>
    <div>
      <img src="http://placehold.it/350x300?text=5">
    </div>
    <div>
      <img src="assets/simtrust.png">
    </div>
  </section>
