<div class="container">
  <header>
    <h3>SIMTOKEN (SIM)</h3>
  </header>
  <h2>Powering Self-governed Commerce via SimToken</h2>
  <p>Commerce is evolving. A few years from now, digital currencies will play a
    central role in our lives, replacing coins, cash, cards and cheques.
    They will enable us to transact more easily, more cost-effectively.
  </p>
  <%= image_tag 'page-icon-1@2x', class: 'token-icon' %>
  <h4>Platform Services</h4>
  <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    Payment is safeguarded in super awesome virtual escrow until item is
    received
  </p>
  <%= image_tag 'page-icon-2@2x', class: 'token-icon' %>
  <h4>Conflict Mediation</h4>
  <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    Payment is safeguarded in super awesome virtual escrow until item is
    received
  </p>
  <%= image_tag 'page-icon-3@2x', class: 'token-icon' %>
  <h4>Item Screening</h4>
  <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    Payment is safeguarded in super awesome virtual escrow until item is
    received
  </p>
  <%= image_tag 'page-icon-1@2x', class: 'token-icon' %>
  <h4>Platform Services</h4>
  <p>Amazon, eBay, and a few others have a 90% share of the ecommerce market.
    Payment is safeguarded in super awesome virtual escrow until item is
    received
  </p>




</div>
