<!-- Intro Section -->

<section class="intro">
  <div class="container">
    <div class="intro-copy">
      <h1>Your Bridge to The Future of Ecommerce.</h1>
      <p>Self-governed commerce with efficient transactions, smart escrow, verified products</p>
    </div>
    <div class="email-signup">
      <img src="assets/email.png"></img>
    </div>
    <div class="intro-poc">
      <img src="assets/intro_screenshot.png"></img>
    </div>
  </div>
</section>

<!-- Our Vision Section -->

<section class="our-vision">
  <div class="container"></div>
</section>

<!-- Who is Simba Section -->

<section class="who-is-simba">
  <div class="container"></div>
</section>

<!-- Status Quo Section -->

<section class="status-quo">
  <div class="container"></div>
</section>

<!-- Solution Section -->

<section class="solution">
  <div class="container"></div>
</section>

<!-- Token Section -->

<section class="token">
  <div class="container"></div>
</section>

<!-- Roadmap Section -->

<section class="roadmap">
  <div class="container"></div>
</section>

<!-- Team Section -->

<section class="team">
  <div class="container"></div>
</section>
