.footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 15px;
  background-color: #1D4398;
  position: relative;

  @media(min-width: $medium) {
    .first-row {
      display: flex;
      justify-content: space-between;
      @media(min-width: $large) {
        display: none;
      }

      .email-signup {
        margin-top: 0;
        margin-left: 20px;

        input {
          width: 200px;
        }

        button {
          width: 120px;
        }
      }
    }

    .second-row {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  }

  .email-signup {
    flex-direction: row;

    @media(max-width: $iphone5) {
      flex-direction: column;
    }

    .input-div {
      input {
        width: 210px;
        height: 44px;
        border: 1px solid #69B3FF;
        @media(max-width: $iphone5) {
          width: 100%;
        }

      }

      i {
        padding: 14px 19px;
      }
    }

    button {
      width: 120px;
      margin-top: 0;
      font-size: 11px;
      height: 44px;
      margin-left: 10px;

      @media(max-width: $iphone5) {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }

      @media(min-width: 410px) {
        width: 150px;
      }


      @media(min-width: $medium) {
        margin-left: 0px;
      }
    }
  }

  p.next-stage {
    padding: 0 30px;
    font-size: 28px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins";

    @media(max-width: $iphone5) {
      padding: 0 0px;
    }

    @media(min-width: $medium) {
      font-size: 20px;
      line-height: 44px;
      text-align: left;
    }
  }

  p.connect-with-us {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    margin-top: 24px;
    @media(min-width: $medium) {
      line-height: 46px;
      margin: 0;
      font-size: 19px;
    }
  }

  .social-media {
    display: flex;
    margin: auto;
    width: 228px;
    height: 30px;
    font-size: 30px;
    letter-spacing: -0.1px;
    color: #ffffff;
    justify-content: space-between;
    @media(min-width: $medium) {
      margin: 0 0 0 40px;
    }

    a,
    a:focus,
    a:hover,
    a:visited {
      color: #ffffff;
      text-decoration: none;
    }
  }

  p.copyright {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.85;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    margin-top: 34px;
    padding-bottom: 27px;
    text-transform: uppercase;
    margin-bottom: 0;
    @media(min-width: $medium) {
      font-size: 17px;
      text-transform: none;
      margin-top: 31px;
      margin-bottom: 0;
    }
  }
}
