.footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 15px;
  background-image: url("footer_bg.jpg");
  background-size: cover;
  position: relative;

  @media(min-width: $medium) {
    .first-row {
      display: flex;
      justify-content: space-between;

      .email-signup {
        margin-top: 0px;
        margin-left: 20px;

        input {
          width: 200px;
        }

        button {
          width: 120px;
        }
      }
    }

    .second-row {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  }

  .email-signup {
    flex-direction: row;
    .input-div {
      input {
        width: 210px;
        height: 44px;
      }
      i {
        padding: 14px 19px;
      }
    }

    button {
      width: 120px;
      margin-top:0;
      font-size: 11px;
      height: 44px;
    }
  }

  p.next-stage {
    font-family: Avenir Next;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;

    @media(min-width: $medium) {
      font-size: 20px;
      line-height: 44px;
      text-align: left;
    }
  }

  p.connect-with-us {
    font-family: Avenir Next;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    margin-top: 24px;

    @media(min-width: $medium) {
      line-height: 46px;
      margin: 0px;
      font-size: 19px;
    }
  }

  .social-media {
    display: flex;
    margin: auto;
    width: 228px;
    height: 30px;
    font-size: 30px;
    letter-spacing: -0.1px;
    color: #ffffff;
    justify-content: space-between;

    @media(min-width: $medium) {
      margin: 0;
      margin-left: 40px;
    }

    a,
    a:focus,
    a:hover,
    a:visited {
      color: #ffffff;
      text-decoration: none;
    }
  }

  p.copyright {
    font-family: Avenir Next;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.85;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    margin-top: 34px;
    padding-bottom: 27px;
    text-transform: uppercase;
    margin-bottom: 0;

    @media(min-width: $medium) {
      font-size: 17px;
      text-transform: none;
      margin-top: 31px;
      margin-bottom: 0px;
    }
  }
}
