@import '_breakpoints';

:root {
  --h2-font: 'Poppins';
  --h2-color: #fff;
  --h2-size: 32px;
  --h3-font: 'Poppins';
  --h3-color: #30BDFD;
  --h3-size: 17px;
  --paragraph-color: #fffc;
  --paragraph-font: 'Avenir Next';
  --paragraph-size: 17px;
  --paragraph-opacity: 1;
}
@media(max-width: $iphone5) {
  :root {
    --h2-size: 25px;
  }
}
@media(min-width: $medium) {
  :root {
    --h3-size: 17px;
    --h2-size: 40px;
  }
}
@media(min-width: $large) {
  :root {
    --h2-size: 40px;
    --h3-size: 17px;
    --paragraph-size: 17px;
  }
}
