@import 'bootstrap.min';
@import '_fonts';
@import '_variables';
@import '_breakpoints';
@import '_header';
@import '_footer';
@import 'homepage/_intro';
@import 'homepage/_ourvision';
@import 'homepage/_team';
@import 'homepage/_statusquo';
@import 'homepage/_solution';
@import 'homepage/_protocols';
@import 'homepage/_marketplace';
@import 'homepage/_brands';
@import 'homepage/_nexus';
@import 'homepage/_token';
@import 'homepage/_roadmap';
@import 'homepage/components/_emailsignup';
@import 'homepage/_poc';
@import 'homepage/_emailbar';
@import 'magnific-popup';
@import 'slick';
@import 'slick-theme';
@import '_responsivetabs';
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: var(--paragraph-font);
  @media(min-width: $medium) {
    background-image: image-url("page_bg@2x.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    &:after {}
  }
}


section {
  padding-top: 0;
  padding-bottom: 0;
  position: relative; //fix for background image covering content issue
}

.brands,
.email-bar,
.footer,
.intro,
.poc,
.marketplace,
.our-vision,
.overlay,
.protocols,
.roadmap,
.solution,
.status-quo,
.team,
.token,
.nexus{
  * {
    -webkit-font-smoothing: antialiased;
  }
}

.bg-lightblue {
  background-color: #1D4398;
  .pattern-bg {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background: url("bg_pattern.svg");
    background-repeat: repeat;
    background-size: 100%;
    opacity: 0.8;
    @media(min-width: $medium) {
      display: none;
    }
  }
}

.bg-darkblue {
  background-color: #0F3588;
}

.bg-darkblue,
.bg-lightblue {
  @media(min-width: $medium) {
    background-color: transparent;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--h2-font);
  line-height: normal;
  color: #ffffff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @media(min-width: $medium) {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: 0.7px;
    text-align: center;
  }
  @media(min-width: $large) {
    font-size: 45px;
    // text-transform: uppercase;
  }
}

h2 {
  font-family: var(--h2-font);
  font-weight: 400;
  font-size: var(--h2-size);
  line-height: 40px;
  letter-spacing: 0;
  color: var(--h2-color);
  margin-bottom: 20px;
  display: flex;
  -webkit-font-smoothing: antialiased;

  span {
    text-transform: uppercase;
    display: block;
    font-size: 18px;
    line-height: 18px;
  }

  img {
    margin-right: 20px;
    height: 40px;
  }
  @media(min-width: $medium) {
    // letter-spacing: 1.8px;
  }
}

h3 {
  font-family: var(--h3-font);
  font-weight: 500;
  font-size: var(--h3-size);
  line-height: 26px;
  letter-spacing: 1.85px;
  text-transform: uppercase;
  color: var(--h3-color);
  margin-bottom: 15px;
  line-height: 1.3;
  @media(min-width: $medium) {
    letter-spacing: 0.8px;
  }
  @media(min-width: $large) {
    letter-spacing: 1px;
  }
}

p {
  font-family: var(--paragraph-font);
  font-size: var(--paragraph-size);
  opacity: var(--paragraph-opacity);
  color: var(--paragraph-color);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  @media(min-width: $medium) {
    line-height: 1.39;
    letter-spacing: -0.1px;
  }
  @media(min-width: $large) {
    line-height: 1.35;
    letter-spacing: 0;
  }
}

button {
  border: 0;
}

.mobile {
  @media(min-width: $medium) {
    display: none;
  }
}

.desktop {
  @media(max-width: 767px) {
    display: none;
  }
}

.email-signup {
  margin-top: 27px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @media(max-width: $iphone5) {
    flex-direction: column;
  }
  @media(min-width: $medium) {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .input-div {
    position: relative;
    @media(min-width: $medium) {
      margin-right: 9px;
    }

    input {
      height: 44px;
      width: 200px;
      border-radius: 3px;
      border: 1px solid rgba(105, 179, 255, 0.75);
      background-color: transparent;
      padding-left: 49px;
      color: #ffffff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      line-height: 54px;
      display: flex;
      align-items: center;
      box-shadow: inset -2px 1px 11px 0 rgba(0, 81, 133, 0.18), -2px 1px 11px 0 rgba(0, 81, 133, 0.18);
      @media(max-width: $iphone5) {
        width: 100%;
      }
      @media(min-width: $medium) {
        width: 237px;
        height: 44px;
        padding-left: 49px;
      }

      &::placeholder {
        opacity: 1;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 54px;
      }

      &:active,
      &:focus {
        background-color: #1c78c9;
      }
    }

    i {
      position: absolute;
      left: 0;
      top: -1px;
      padding: 13px;
      font-size: 19px;
      color: rgba(105, 179, 255, 0.75);
      @media(min-width: $medium) {
        padding: 13.5px 18px;
      }
    }
  }

  button {
    -webkit-font-smoothing: antialiased;
    width: 120px;
    height: 44px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #1A77ED, #00D7ED);
    text-transform: uppercase;
    font-family: var(--paragraph-font);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 98, 161, 0.27);
    cursor: pointer;
    @media(max-width: $iphone5) {
      width: 100%;
      margin-top: 10px;
    }
    @media(min-width: 410px) {
      width: 150px;
    }
    @media(min-width: $medium) {
      width: 178px;
      height: 44px;
      margin-top: 0;
    }

    &:hover {
      background-image: linear-gradient(to right, #136ee1, #00cce1);
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -60px;
  display: block;
  width: 120px;
  height: 49px;
  opacity: 0.85;
  background-size: 14px auto;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all 0.2s ease-in;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
