@import 'bootstrap.min';
@import 'font-awesome.min';
@import '_fonts';
@import '_variables';
@import '_breakpoints';
@import '_header';
@import '_footer';
@import 'homepage/_intro';
@import 'homepage/_ourvision';
@import 'homepage/_team';
@import 'homepage/_statusquo';
@import 'homepage/_solution';
@import 'homepage/_benefits';
@import 'homepage/_token';
@import 'homepage/_roadmap';
@import 'homepage/components/_emailsignup';
@import 'homepage/_poc';
@import 'magnific-popup';
@import 'slick.css';
@import 'slick-theme.css';

body,
html {
  height: 100%;
  width: 100%;
}

section {
  padding-top: 0;
  padding-bottom: 0;

  .footer,
  .our-vision,
  .poc,
  .solution {
    .vision-benefits div,
    button,
    h1,
    h2,
    h4,
    p {
      -webkit-font-smoothing: antialiased;
    }
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: Regular;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #ffffff;

  @media(min-width: $medium) {
    font-size: 41px;
    line-height: 1.59;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 106px;
  }
}

h2 {
  font-family: var(--subtitle-font);
  font-weight: 400;
  font-size: var(--subtitle-size);
  line-height: normal;
  letter-spacing: 0;
  color: var(--subtitle-color);
  margin-bottom: 20px;

  @media(min-width: $medium) {
    letter-spacing: 0.1px;
  }
}

h3 {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: var(--title-size);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--title-color);
  line-height: normal;
  margin-bottom: 15px;

  @media(min-width: $medium) {
    letter-spacing: 0.8px;
  }
}

p {
  font-family: var(--global-font);
  font-size: var(--paragraph-size);
  color: var(--paragraph-color);
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: -0.2px;

  @media(min-width: $medium) {
    line-height: 1.39;
    letter-spacing: -0.1px;
  }
}

button {
  border: 0;
}

.mobile {
  @media(min-width: $medium) {
    display: none;
  }
}

.desktop {
  @media(max-width: 767px) {
    display: none;
  }
}

.email-signup {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media(min-width: $medium) {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .input-div {
    position: relative;

    input {
      height: 54px;
      width: 100%;
      border-radius: 3px;
      border: solid 1px rgba(255, 255, 255, 0.61);
      background-color: transparent;
      padding-left: 49px;
      color: #ffffff;
      @media(min-width: $medium) {
        width: 237px;
        height: 44px;
        padding-left: 49px;
      }

      &::placeholder {
        opacity: 0.8;
        font-family: Avenir Next;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: #ffffff;
        text-transform: uppercase;
      }
    }

    i {
      position: absolute;
      left: 0;
      top: 0;
      padding: 18px;
      color: #FFFFFF;
      @media(min-width: $medium) {
        padding: 13.5px 18px;
      }
    }
  }

  button {
    width: 100%;
    height: 56px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #509af7, #28d4e6);
    text-transform: uppercase;
    margin-top: 15px;
    font-family: Avenir Next;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    @media(min-width: $medium) {
      width: 178px;
      height: 44px;
      background-image: linear-gradient(to right, #646acf, #28d4e6);
      margin-top: 0;
      margin-left: 9px;
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -60px;
  display: block;
  width: 120px;
  height: 49px;
  opacity: 0.85;
  background-size: 14px auto;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all 0.2s ease-in;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
